.ListItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   padding-left: 20px;
   margin-bottom: 10px;
   height: 40px;
   border-radius: .5em;
   background-color: #fffbfb;
}

.Title {
   width: 50%;
}

.Date {
   width: 15%;
}

.Checkbox {
   width: 15%;
}