@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+Onedisplay=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f3f3f3;
    color: #2a2b2b;
    font-family: 'Red Hat Text', 'Helvetica', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background-image: url('../src/img/blueeye.png'), url('../src/img/notebook.png'), url('../src/img/peacesign.png'), url('../src/img/writingnote.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200px, 200px, 150px, 200px;
    background-position: 3% 10%, 15% 85%, 60% 3%, 80% 80%;
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-image: url('../src/img/writingnote.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100px;
        background-position: 90% 5%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body {
        background-image: none;
        background-image: url('../src/img/writingnote.png'), url('../src/img/peacesign.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 300px, 150px;
        background-position: 85% 90%, 15% 75%;
    }
}